In [1]:
import pandas as pd

In [2]:
list_job = pd.read_csv("./job.csv",encoding="gbk",header=None,names=["panel","PID","sample_N","sample_T","chip","name"])

In [3]:
def check_list(df):
    if df["sample_T"]=="yaml无T":
        return df["sample_N"]
    else:
        return df["sample_T"]

In [4]:
list_job.apply(check_list,axis=1)

0            W067655T
1            W067680T
2            W067684T
3            W067657T
4            W067667T
5            W067743T
6            W067671T
7            W067672T
8            W067698T
9            W067685T
10           W067677T
11           W067699T
12           W036857T
13           W067695T
14           W067703T
15           W067690T
16          BRCA-15bp
17           W067722N
18           W067721N
19           W067669T
20           W067700T
21           W067665T
22           W067656T
23           W067687T
24           W067681T
25           W067661T
26           W067590T
27           W067697T
28           W067694T
29           W067701T
30           W067668T
31           W067676T
32           W067663T
33           W067678T
34           W067683T
35           W067696T
36           W067702T
37           W067670T
38           W067704T
39           W067664T
40           W067662T
41           W066885T
42           W067634T
43           W067742T
44           W067693T
45           W067673T
46           W067674T
47           W067658T
48           W067686T
49           W067679T
50           W067682T
51    HD752T-20200627
52           W067692T
53           W067675T
54           W067344T
55           W067691T
dtype: object

In [10]:
aaa=pd.read_csv("./test.csv")["arg_result"]

In [15]:
eval(aaa[0])

['p2006240029-w067657t-w067273n-panel063-l-down         Succeeded   2d    1m         0',
 'p2006240029-w067657t-w067273n-panel063-l-wait         Succeeded   2d    2h         0',
 'p2006240029-w067657t-w067273n-panel063-l-sub          Succeeded   2d    9m         0',
 '']

In [2]:

import subprocess
import pandas as pd

In [3]:
def func_ags(sample,ags_list):
    print ("start ags",sample)
    # with open("out.txt","a+") as f :
        # subprocess.call("hand ags list|grep -i W067750T",shell=True)
    sub = subprocess.Popen(f"hand ags list|grep -i {sample}",stdout=subprocess.PIPE,shell=True)#
    # print(sub.stdout)


    out,err= sub.communicate()
    print(out)
    # ags_list.append(out.decode('utf-8'))
    if out.decode('utf-8')=="":
        ags_list.append("None")
        # f.write("None\n")
    else:
        ags_list.append(out.decode('utf-8'))
        # f.write(out.decode('utf-8'))

In [4]:
def func_arg(sample,arg_list):
    print ("start ago",sample)
    # subprocess.call("hand ags list|grep -i W067750T",shell=True)
    sub = subprocess.Popen(f"hand aro list -n sxlj|grep -i {sample}", stdout=subprocess.PIPE,shell=True)
    out,err = sub.communicate()
    # print(out)
    if out.decode('utf-8')=="":
        arg_list.append("None")
        # f.write("None\n")
    else:
        arg_list.append(out.decode('utf-8').split("\n"))

In [5]:
a=[]
func_arg("w067656t",a)

start ago w067656t

In [19]:
a

[['p2006260005-w067656t-w067705n-wes-825plus-fast-wait   Succeeded   5d    3d         0',
  'p2006260005-w067656t-w067705n-wes-825plus-wait        Succeeded   5d    3d         0',
  '']]

In [6]:
sample = "w067656t"
sub = subprocess.Popen(f"hand aro list -n sxlj|grep -i {sample}", stdout=subprocess.PIPE,shell=True)
out,err = sub.communicate()

In [7]:
out

b'p2006260005-w067656t-w067705n-wes-825plus-fast-wait   Succeeded   5d    3d         0\np2006260005-w067656t-w067705n-wes-825plus-wait        Succeeded   5d    3d         0\n'

In [26]:
from io import StringIO
import re

In [33]:
data = pd.read_table(StringIO(out.decode('utf-8')),header=None,sep="\s+",names=["NAME","STATUS","AGE","DURATION","PRIORITY"])

In [39]:
pd.DataFrame({
    "NAME":None,
    "STATUS":None,
    "AGE":None,
    "DURATION":None,
    "PRIORITY":None
             },index=[0]).append(data)

,NAME,STATUS,AGE,DURATION,PRIORITY
0,None,None,None,None,None
0,p2006260005-w067656t-w067705n-wes-825plus-fast...,Succeeded,5d,3d,0
1,p2006260005-w067656t-w067705n-wes-825plus-wait,Succeeded,5d,3d,0

In [28]:
re.split("\s+", data[0][0])

['p2006260005-w067656t-w067705n-wes-825plus-fast-wait',
 'Succeeded',
 '5d',
 '3d',
 '0']

In [25]:
jobs = pd.read_csv("./job.csv",encoding="gbk",header=None,names=["panel","PID","sample_N","sample_T","chip","name"])
def check_list(df):
    if df["sample_T"]=="yaml无T":
        return df["sample_N"]
    else:
        return df["sample_T"]
jobs["check_sample"] = jobs.apply(check_list,axis=1)

In [6]:
df2  = pd.read_csv("./test2.csv")

In [79]:
        def fillter_arg(df, df2):
            print(type(df.check))
#             sample = df

#             df_check = df2[df2.check_sample == sample]
#             print(df_check["NAME"][df_check["NAME"].str.contains('sub')].size)
#             if df_check["NAME"][df_check["NAME"].str.contains('wait')].size>0:
#                 df_check[df_check["NAME"].str.contains('sub')]
#                 if ("Failed" in df_check["STATUS"].values) or (df_check["STATUS"][df_check["STATUS"].isna()].size > 0):

#                     return "Failed"
#                 else:
#                     if ("Running" in df_check["STATUS"].values) and (df_check["DURATION"][
#                         df_check["DURATION"].apply(return_time) > 30].size > 0):
#                         return "Failed"
#                     else:
#                         return "Successed"
#             else:
#                 return "Failed"

In [80]:
df="W067690T"

In [81]:
fillter_arg(df,df2)

AttributeError: 'str' object has no attribute 'check'

In [82]:
df2

,Unnamed: 0,check_sample,NAME,STATUS,AGE,DURATION,PRIORITY
0,0,W067655T,NaN,NaN,NaN,NaN,NaN
1,0,W067680T,NaN,NaN,NaN,NaN,NaN
2,0,W067721N,NaN,NaN,NaN,NaN,NaN
3,0,W067677T,NaN,NaN,NaN,NaN,NaN
4,0,W067669T,NaN,NaN,NaN,NaN,NaN
5,0,W067743T,NaN,NaN,NaN,NaN,NaN
6,0,W067722N,NaN,NaN,NaN,NaN,NaN
7,0,W067698T,NaN,NaN,NaN,NaN,NaN
8,0,W067684T,NaN,NaN,NaN,NaN,NaN
9,0,W067695T,NaN,NaN,NaN,NaN,NaN
10,0,W067667T,NaN,NaN,NaN,NaN,NaN
11,0,W067671T,NaN,NaN,NaN,NaN,NaN
12,0,BRCA-15bp,NaN,NaN,NaN,NaN,NaN
13,0,W067703T,NaN,NaN,NaN,NaN,NaN
14,0,W067685T,NaN,NaN,NaN,NaN,NaN
15,0,W067699T,NaN,NaN,NaN,NaN,NaN
16,0,W067700T,NaN,NaN,NaN,NaN,NaN
17,0,W067657T,NaN,NaN,NaN,NaN,NaN
18,0,W067672T,NaN,NaN,NaN,NaN,NaN
19,0,W067665T,NaN,NaN,NaN,NaN,NaN
20,0,W067690T,p2006230023-w067690t-w067312n-panel825plus-m-wait,Succeeded,9d,3d,0.0
21,0,W067656T,p2006260005-w067656t-w067705n-wes-825plus-fast...,Succeeded,9d,3d,0.0
22,1,W067656T,p2006260005-w067656t-w067705n-wes-825plus-wait,Succeeded,9d,3d,0.0
23,0,W067697T,NaN,NaN,NaN,NaN,NaN
24,0,W036857T,NaN,NaN,NaN,NaN,NaN
25,0,W067694T,p2006250032-w067694t-w067617n-panel825plus-wait,Succeeded,9d,3d,0.0
26,0,W067701T,NaN,NaN,NaN,NaN,NaN
27,0,W067590T,p2006230075-w067590t-w067689n-panel179-wait,Succeeded,9d,3d,0.0
28,0,W067676T,NaN,NaN,NaN,NaN,NaN
29,0,W067661T,NaN,NaN,NaN,NaN,NaN
30,0,W067687T,NaN,NaN,NaN,NaN,NaN
31,0,W067668T,NaN,NaN,NaN,NaN,NaN
32,0,W067681T,NaN,NaN,NaN,NaN,NaN
33,0,W067670T,NaN,NaN,NaN,NaN,NaN
34,0,W067704T,NaN,NaN,NaN,NaN,NaN
35,0,W067674T,NaN,NaN,NaN,NaN,NaN
36,0,W067675T,p2006250069-w067675t-w067741n-panel825plus-wait,Succeeded,9d,3d,0.0
37,0,W067686T,NaN,NaN,NaN,NaN,NaN
38,0,W067662T,NaN,NaN,NaN,NaN,NaN
39,0,W067679T,NaN,NaN,NaN,NaN,NaN
40,0,W067692T,NaN,NaN,NaN,NaN,NaN
41,0,W067344T,NaN,NaN,NaN,NaN,NaN
42,0,W067691T,NaN,NaN,NaN,NaN,NaN
43,0,W067682T,NaN,NaN,NaN,NaN,NaN
44,0,W067702T,NaN,NaN,NaN,NaN,NaN
45,0,W067678T,NaN,NaN,NaN,NaN,NaN
46,0,W067663T,NaN,NaN,NaN,NaN,NaN
47,0,W067693T,NaN,NaN,NaN,NaN,NaN
48,0,W066885T,NaN,NaN,NaN,NaN,NaN
49,0,W067673T,NaN,NaN,NaN,NaN,NaN
50,0,W067696T,NaN,NaN,NaN,NaN,NaN
51,0,W067664T,NaN,NaN,NaN,NaN,NaN
52,0,W067634T,NaN,NaN,NaN,NaN,NaN
53,0,W067683T,NaN,NaN,NaN,NaN,NaN
54,0,W067658T,NaN,NaN,NaN,NaN,NaN
55,0,W067742T,NaN,NaN,NaN,NaN,NaN
56,0,HD752T-20200627,NaN,NaN,NaN,NaN,NaN

In [31]:
                    jobs=pd.read_csv("./job.csv", encoding="gbk", header=None,
                                       names=["panel", "PID", "sample_N", "sample_T", "chip", "name"])
                    def check_list(df):
                        if df["sample_T"] == "yaml无T":
                            return df["sample_N"]
                        else:
                            return df["sample_T"]

                    jobs["check"] = jobs.apply(check_list, axis=1)#.apply(fillter_arg,args=(df2,),axis=1)

In [83]:
jobs.apply(fillter_arg,args=(df2,),axis=1)

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

0      None
1      None
2      None
3      None
4      None
       ...
140    None
141    None
142    None
143    None
144    None
Length: 145, dtype: object

In [32]:
jobs

,panel,PID,sample_N,sample_T,chip,name,check
0,CT_DNA,P2001130039,W068518N,CT白细胞-请核查,V1491-200706,亚丽,CT白细胞-请核查
1,WESa825plus,L-2018-00006386,W066576N,W068336T,V1490-200706 / T2069bp,亚丽,W068336T
2,WESa825plus,P2007020068,W068469N,W068451T,V1492-200706,亚丽,W068451T
3,panel063,P2006280030,W067876N,W068173T,V1489-200706,亚丽,W068173T
4,panel063,P2006280030,W067876N,W068386T,V1489-200706,亚丽,W068386T
...,...,...,...,...,...,...,...
140,panel825plus_68,P2006300082,W068076N,W068333T,V1489-200706,亚青,W068333T
141,panel825plus_B,P2007010016,W068638N,W068642T,N文库同：W068285N / T文库同：W068328T / V1490-200706 /...,亚青,W068642T
142,panel825plus_m,P2006290024,W068298N,W068153T,Tqiagen 2208BP / V1489-200706,亚青,W068153T
143,panel825plus_m,P2006290024,W068298N,W068396T,Tqiagen 2208BP / V1489-200706,亚青,W068396T
144,panel825plus_m,P2007020056,W068496N,W068459T,V1491-200706,亚青,W068459T

In [26]:
import numpy as np

In [29]:
sample = df
df_check = df2[df2.check_sample==sample]

In [60]:
df_check["DURATION"][df_check["DURATION"].apply(return_time)>30].size>0#.apply(return_time)>30

False

In [34]:
def return_time(times):
    if "d" in times:
        return int(times.split("d")[0])*24*60
    elif "h" in times:
        return int(times.split("h")[0])*24
    else:
        return int(times.split("m")[0])

In [50]:
df_check["DURATION"].any()

'3d'